body {
  font-family: Arial, sans-serif;
}

.flex-container {
  background-color: #ccc;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.flex-item {
  height: 200px;
  width: 200px;
  background-color: coral;
  border: 1px solid black;
}
