/* Type Selectors */
/* h2 {
  color: red;
  font-size: 30px;
}

a {
  color: blue;
  text-decoration: none;
}
 */

html,
body {
  font-family: Arial, sans-serif;
  border: 3px solid red;
}

.sporty {
  color: red;
}

.casual {
  color: blue;
}

.formal {
  color: brown;
}

#container {
  max-width: 600px;
  margin: 100px auto;
  padding: 20px;
}

.sporty,
.casual {
  font-size: 35px;
}
